<a href="https://colab.research.google.com/github/RamonaRFV/Ejercicio/blob/main/ST_Dia_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas**

In [21]:
import pandas as pd

Cargar la base de datos que se trabajará

In [24]:
tabla = pd.read_excel("BD_vendedores.xlsx") # campos: REGION, ID, NOMBRE, APELLIDO, SALARIO, UNIDADES VENDIDAS, VENTAS TOTALES, PORCENTAJE DE VENTAS

In [ ]:
print(tabla)

In [ ]:
print(tabla[5:])

In [ ]:
print(tabla.head())

Extracción de información por columna   Lista_1 = tabla['columna']

In [35]:
UnidadesV = tabla['UNIDADES VENDIDAS']
region = tabla['REGION']
salarios = tabla['SALARIO']

In [ ]:
print(UnidadesV)

Obtener algunas medidas descriptivas
max(), min(), count(), mean()

In [ ]:
region[6]

In [ ]:
print(region)

Subtablas 
tabla.groupby('Columna').get_group('Valor')

In [38]:
tablaSur = tabla.groupby('REGION').get_group('SUR')

In [ ]:
print(tablaSur)


Obtener algunas medidas descriptivas max(), min(), count(), mean()

In [ ]:
print("El salario es:", salarios.max())

In [ ]:
UnidadesV.max()

In [ ]:
tabla['UNIDADES VENDIDAS'].max()

In [45]:
norte = tabla.loc[tabla.loc[:, 'REGION'] == 'NORTE']

In [ ]:
print(norte)

In [ ]:
df_array = tabla.values

print(df_array)

In [ ]:
print(df_array[2])

['NORTE' 5185 'Ana Valeria' 'Cruz Montesinos' 10046 429 7238
 0.1102110424216585]

In [ ]:
print(df_array[2][3])

Cruz Montesinos

In [ ]:
import numpy as np
import statistics as stat
Alu = [19, 18, 20, 19, 18, 17, 21, 18, 21, 20]

In [ ]:
print(stat.mode(Alu))

In [ ]:
AluM = [180, 160, 165, 178, 185, 155, 163, 171, 161, 172, 158]

In [ ]:
print(stat.median(AluM))

In [ ]:
AluP = [83, 70, 95, 84, 73, 94, 86, 74, 97, 82]

In [ ]:
np.sum(AluP)

In [ ]:
np.mean(AluP)

In [ ]:
stat.mean(AluP)

In [ ]:
stat.stdev(AluP)

In [ ]:
Datos = [15280, 25789, 30789, 15280, 35890,32000, 17382, 24360, 33000, 25500]

In [ ]:
prom = np.mean(Datos)
print(prom)

In [ ]:
stat.stdev(Datos)

In [ ]:
print(tabla.head())

In [ ]:
tabla.describe()

In [56]:
rango = np.max(Datos)-np.min(Datos)

In [ ]:
print(rango)

In [58]:
Temperaturas = pd.read_excel("BD_Tabla_Temperaturas.xlsx")

In [ ]:
Temperaturas.describe()

In [62]:
Mty = Temperaturas['MTY (°C)']
CdMx = Temperaturas['CDMX (°C)']

In [ ]:
stat.median(Mty)

In [ ]:
stat.mode(Mty)

In [ ]:
stat.variance(Mty)